@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1661292873&redirect_uri=https://5db2-175-113-116-30.ngrok-free.app/Callback&state=45645646abcde&scope=profile%20openid&nonce=09876xyz">
    LOGIN  
    </a>
</div>
